// =============== VARIABLES

$columns: 12;
$red: #AF0022;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// =============== MIXINS

@mixin oswald ($size, $color) {
    font-family: Oswald-Medium;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 2%;
    font-size: $size;
    color: $color;
}

@mixin opensans ($size, $color, $align) {
    font-family: OpenSans;
    font-size: $size;
    color: $color;
    letter-spacing: 0;
    text-align: $align;
}

@mixin label-animation ($top) {
    top: $top !important;
    font-size: .9em;
    color:#fff;
}

@mixin logo-adj ($left, $top, $height, $width) {
    margin-left: $left !important;
    margin-top: $top !important;
    max-height: $height !important;
    min-width: $width !important;
}

// =============== GENERAL STYLES
* {
    box-sizing: border-box;
}

/* ↓↓↓↓↓↓↓↓↓↓ This has only layout purposes ↓↓↓↓↓↓↓↓↓↓ */
div[class^="col-"] {
    background: lightcoral;
    border: 1px solid red;
    text-align: center;
    padding: 1rem 0;
}
/* ↑↑↑↑↑↑↑↑↑↑ This has only layout purposes ↑↑↑↑↑↑↑↑↑↑ */

// =============== LAYOUT STYLES
@for $i from 1 through $columns{
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
    }
    .offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}

body {
    background: white;
    font-family: sans-serif;
    margin: 0;
}

.container {
    background: #f3f3f3;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

// =============== ELEMENTS STYLES

// =============== NAV BAR

.nav-bar{
    position: fixed;
    z-index: 999999;
    background: #ffffff;
}

.min-h{
    min-height: 5em;
}

.nav-btn {
    @include oswald(14px, $red);
    text-decoration: none;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.nav-item {
    align-self: center;
}

.two:hover ~ hr {
    width: 10.5%;
    margin-left: 26.5%;
}
  
.three:hover ~ hr {
    width: 15%;
    margin-left: 52%;
}
  
.four:hover ~ hr {
    width: 5%;
    margin-left: 84%;
}

hr {
  height: .2rem;
  width: 3%;
  margin-left: 8.6%;
  background: $red;
  border: none;
  transition: .5s ease-in-out;
}

// =============== Hero Banner

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/hero-banner-bg.jpg");
    height: 30rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
}

.hero-text {
    @include oswald(.8em, #FFFFFF);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 50%;
}

// =============== FORM SECTION

.red-bg {
    background: $red !important;
    border: none !important;
}

.header {
    @include oswald(2.3em, #FFFFFF);
}

.header-title {
    padding-top: 3% !important;
}

#form-section{
    height: 29em;
}

#form {
    margin-left: 26%;
}

.short-input {
    margin: 0 2% 3% 0;
}

.tall-input {
    height: 80%;
    margin: 2% 0;
}

label {
    @include oswald(.9em, #CCCCCC);
    pointer-events: none;
    transition: 0.2s ease all;
    position: relative;
    right: 18.4em;
    top: -0.7em;
}

#mensaje-label {
    right: 39.8em;
    top: 0.7em;
}

.cta {
    background: none;
    cursor: pointer;
    margin-left: 55%;
}

/* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
input:focus + label {
    @include label-animation(-22%)
}

textarea:focus + label {
    @include label-animation(-15%)
}

input:valid + label {
    color: rgba($color: #000000, $alpha: 0);
}

textarea:valid + label {
    color: rgba($color: #000000, $alpha: 0);
}

input, textarea {
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 3px;
}

input:focus, textarea:focus {
    outline: none;
}
/* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */


// =============== APLICACIONES SECTION

.white-bg {
    background: white !important;
    border: none !important;
}

#aplicaciones-section {
    height: 40em;
}

.center-p {
    width: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    margin-top: 2.5em;
}

// =============== WHO TRUST US

#clients-section {
    height: 24em;
}

.wide-item {
    min-width: 10em;
    margin-top: 2.5em;
}

.tall-item {
    max-height: 45px;
    margin-top: 2.5em;
}

#yoplait-logo {
    @include logo-adj(7.5%, 1.8em, auto, auto);
}

#metro-logo {
    max-height: 1.6em;
}

#chowbotics-logo {
    margin-top: 2.7em;
}

#canal22-logo {
    margin-top: 1.7em;
    max-height: 55px;
}

#olson-logo {
    max-height: 1.7em;
}

#thermion-logo {
    margin-top: 3m;
}

#movistar-logo {
    margin-top: 3em;
}

#unilever-logo {
    margin-left: 5%;
    max-height: 55px;
}

// =============== TECNICAS Y FORMATOS

#first-line {
    flex: 0 0 48%;
}

#second-img {
    transform: translateY(-7%);
}

#second-line {
    flex: 0 0 38%;
    margin-left: 3.5%;
}

#third-p {
    transform: translate(170%, -250%);
}

#fourth-p {
    transform: translate(-165%, 140%);
}

#fourth-img {
    transform: translate(0%, -15%);
}

#fourth-line {
    transform: translate(0, -15%);
}

#fifth-line {
    flex: 0 0 15%;
}

#fifth-p {
    margin-top: 10%;
}

#sixth-img{
    transform: translate(0, -20%);
}

#sixth-p {
    transform: translate(-88%, 200%);
}

// =============== FOOTER

#footer-section {
    height: 30em;
    padding-top: 2em;
}

.align-left {
    text-align: left !important;
}

.a-margin {
    margin-left: 13%;
}

.social-logo {
    max-width: 30px;
    transform: translateY(10px);
}

// =============== TEXT STYLING

.red-header {
    @include oswald(2.3em, $red);
}

.red-subtitle {
    @include oswald(1.2em, $red);
}

.white-subtitle {
    @include oswald(1.5em, #FFFFFF);
}

.text-padding {
    padding: 0 40px;
}

.text-right {
    @include opensans(1.1em, #47181F, right)
}

.text-left {
    @include opensans(1.1em, #47181F, left)
}

.text {
    @include opensans(1.1em, #47181F, center)
}

.small-text {
    @include opensans(.8em, #47181F, center)
}

.footer-text {
    @include opensans(.8em, white, center);
    line-height: 3.5;
    text-decoration: none;
}


//    __ __  ___  ___  _  ___   ___  _ _  ___  ___  _ _  ___ 
//   |  \  \| __>| . \| || . | | . || | || __>| . \| | |/ __>
//   |     || _> | | || ||   | | | || ' || _> |   /\   /\__ \
//   |_|_|_||___>|___/|_||_|_| `___\`___'|___>|_\_\ |_| <___/
//                                                          

@media (max-width: 991px) {

    .menu-toggle {
        display: flex;
        position: relative;
        z-index: 999999;
        transform: translate(-100%, 115%);
    }

    .nav-bar {
        position: absolute !important;
        width: 100%;
        height: 100vh;
        background: $red;
        left: -100%;
        transition: 0.5s;
    }

    nav.active {
        left: 0;
    }

    #nav-list {
        display: block;
        text-align: center;
    }

    .nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    h1 {
        font-size: 1.7em !important;
    }

    svg[id$="-img"] {
        flex: 0 0 100%;
        margin: 0;
    }

    svg[id$="-line"] {
        display: none;
    }

    p[id$="-text"] {
        margin: 0;
    }
}


/* ----------- iPad Pro ----------- */

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* NAV BAR */
    #nav-list {
        margin-left: -2%;
        flex: 0 0 83.33333%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 22%;
    }
    
    label {
        right: 18em;
    }
    
    #mensaje-label {
        right: 39.3em;
    }

    /* APLICACIONES SECTION */
    
    #aplicaciones-section {
        height: 37em;
    }

    #workshops-container {
        margin-left: 9.5%;
    }

    .wide-item {
        min-width: 8em;
    }
    /* TECNICAS Y FORMATOS */

    #tecnicas-section {
        height: 160em;
    }

    #second-img {
        transform: translateY(-20%);
    }

    #second-line {
        transform: translate(0px, -35%);
    }
    
    #third-line {
        transform: translate(0, -35%);
    }

    #third-p {
        transform: translate(170%, -320%);
    }

    #fourth-img {
        transform: translate(0%, -25%);
    }

    #fourth-p {
        transform: translate(-165%, 120%);
    }

    #fourth-line {
        transform: translate(0, -65%);
    }

    #fifth-img {
        transform: translate(0, -15%);
    }

    #fifth-line {
        transform: translate(0, -45%);
    }

    #sixth-img{
        transform: translate(0, -32%);
    }

    #sixth-p {
        transform: translate(-88%, 150%);
    }

    // =============== TEXT STYLING

    .text-right {
        @include opensans(0.8em, #47181F, right)
    }

    .text-left {
        @include opensans(0.8em, #47181F, left)
    }

    .text {
        @include opensans(0.8em, #47181F, center)
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* FORM SECTION */
    
    #form {
        margin-left: 29%;
    }
    
    label {
        right: 17.7em;
    }
    
    #mensaje-label {
        right: 39em;
    }

}

/* ----------- iPad ----------- */

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    .offset-1 {
        margin-left: 6.33333%;
    }
    /* NAV BAR */
    #nav-list {
        margin-left: 5%;
        flex: 0 0 75%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 19%;
    }
    
    label {
        right: 14.2em;
        top: -0.4em;
    }
    
    #mensaje-label {
        right: -.7em;
        top: -88%;
    }

    #mensaje-area {
        flex: 0 0 76.5%;
    }

    /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
    input:focus + label {
        @include label-animation(-17%)
    }
    
    textarea:focus + label {
        @include label-animation(-103%)
    }
    /* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */


    /* APLICACIONES SECTION */
    
    #aplicaciones-section {
        height: 37em;
    }

    #workshops-container {
        margin-left: 6.5%;
        flex: 0 0 25%;
    }

    #conferencias-container {
        flex: 0 0 25%;
    }

    #sketching-container {
        flex: 0 0 25%;
    }

    /* WHO TRUST US */

    #clients-section {
        height: 21em;
    }
    .wide-item {
        min-width: 8em;
    }
    
    /* TECNICAS Y FORMATOS */
    #first-line {
        transform: translate(0, -50%);
    }

    #tecnicas-section {
        height: 132em;
    }

    #tecnicas-grid {
        max-height: 132em;
    }

    #second-img {
        transform: translateY(-58%);
    }

    #second-p {
        transform: translate(0%, -32%);
    }

    #second-line {
        transform: translate(0px, -145%);
    }
    
    #third-line {
        transform: translate(0, -290%);
    }
    
    #third-img {
        transform: translate(0, -38%);
    }

    #third-p {
        transform: translate(170%, -380%);
    }

    #fourth-img {
        transform: translate(0%, -142%);
    }

    #fourth-p {
        transform: translate(-165%, -100%);
    }

    #fourth-line {
        transform: translate(0, -430%);
    }

    #fifth-img {
        transform: translate(0, -91%);
    }

    #fifth-p {
        transform: translate(0%, -110%);
    }

    #fifth-line {
        transform: translate(0, -235%);
    }

    #sixth-img{
        transform: translate(0, -103%);
    }

    #sixth-p {
        transform: translate(-88%, -150%);
    }

    // =============== TEXT STYLING

    .text-right {
        @include opensans(0.8em, #47181F, right)
    }

    .text-left {
        @include opensans(0.8em, #47181F, left)
    }

    .text {
        @include opensans(0.8em, #47181F, center)
    }
}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    
    /* NAV BAR */
    #nav-list {
        margin-left: 6.8%;
        flex: 0 0 75%;
    }

    #li-aplicaciones {
        margin-left: 1%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 22%;
    }
    
    label {
        right: 17.7em;
    }
    
    #mensaje-label {
        right: 39em;
    }

    /* APLICACIONES SECTION */

    #aplicaciones-section {
        height: 42em;
    }

    /* WHO TRUST US */

    svg[id$="-logo"] {
        margin-left: 6%;
    }

    /* TECNICAS Y FORMATOS */
    #first-line {
        transform: translate(0, -50%);
    }

    #tecnicas-section {
        height: 155em;
    }

    #tecnicas-grid {
        max-height: 132em;
    }

    #second-img {
        transform: translateY(-45%);
    }

    #second-p {
        transform: translate(0%, -32%);
    }

    #second-line {
        transform: translate(0px, -100%);
    }
    
    #third-line {
        transform: translate(0, -185%);
    }
    
    #third-img {
        transform: translate(0, -28%);
    }

    #third-p {
        transform: translate(100%, -270%);
    }

    #fourth-img {
        transform: translate(0%, -126%);
    }

    #fourth-p {
        transform: translate(100%, -320%);
    }

    #fourth-line {
        transform: translate(0, -360%);
    }

    #fifth-img {
        transform: translate(0, -70%);
    }

    #fifth-p {
        transform: translate(0%, -110%);
    }

    #fifth-line {
        transform: translate(0, -165%);
    }

    #sixth-img{
        transform: translate(0, -80%);
    }

    #sixth-p {
        transform: translate(-88%, -50%);
    }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-height: 812px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* NAV BAR */
    #nav-list {
        margin-left: -2%;
        flex: 0 0 83.33333%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 22%;
    }
    
    label {
        right: 15em;
        top: 0;
    }
    
    #mensaje-label {
        right: 39.3em;
    }

    #mensaje-label {
        right: -0.5em;
        top: -12.5em;
    }

    .hero-image {
        height: 70vh;
    }

    .hero-text {
        padding: 0;
    }

    .header-title {
        padding-top: 7% !important;
    }

    .short-input {
        flex: 0 0 75%;
        margin: 0 2% 5% 0;
    }

    .cta {
        margin-left: 25%;
    }
    
    .red-header {
        width: 55%;
        margin-left: 23%;
    }

    .center-p {
        width: 60%;
        margin-top: 3.5em;
    }

    /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
    input:focus + label {
        @include label-animation(-22%)
    }

    textarea:focus + label {
        @include label-animation(-15%)
    }

    input:valid + label {
        color: rgba($color: #000000, $alpha: 0);
    }

    textarea:valid + label {
        color: rgba($color: #000000, $alpha: 0);
    }

    input, textarea {
        padding: 10px 10px 10px 5px;
        border: none;
        border-radius: 3px;
    }

    input:focus, textarea:focus {
        outline: none;
    }
/* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */


    /* APLICACIONES SECTION */
    
    #aplicaciones-section {
        height: 82em;
    }

    .wide-item {
        min-width: 8em;
    }

    #workshops-container, #conferencias-container, #sketching-container {
        flex: 0 0 83.33333%;
        margin-left: 9%;
    }

    /* WHO TRUST US */

    #clients-section {
        height: 35em;
    }
    
    svg[id$="-logo"] {
        flex: 0 0 37.33333%;
    }

    /* TECNICAS Y FORMATOS */

    .text-right {
        text-align: center;
        margin: 0;
        min-width: 75%;
        transform: translate(20%, 400%)
    }
    
    .text-left {
        text-align: center;
        margin: 0;
        min-width: 75%;
        transform: translate(15%, 25%) !important;
    }

    #tecnicas-section {
        height: 160em;
    }

    #second-img {
        transform: translateY(-10%);
    }

    #second-line {
        transform: translate(0px, -35%);
    }
    
    #third-img {
        transform: translateY(25%);
    }

    #third-line {
        transform: translate(0, -35%);
    }

    #third-p {
        transform: translate(15%, 175%) !important;   
    }

    #fourth-img {
        transform: translate(0%, 25%);
    }

    #fourth-p {
        transform: translate(20%, 440%);
    }

    #fourth-line {
        transform: translate(0, -65%);
    }

    #fifth-p {
        transform: translate(15%, -50%) !important;
    }
    
    #fifth-img {
        transform: translate(0, 15%);
    }

    #fifth-line {
        transform: translate(0, -45%);
    }

    #sixth-img{
        transform: translate(0, -32%);
    }

    #sixth-p {
        transform: translate(20%, 550%);
    }

    // =============== TEXT STYLING

    .text-right {
        @include opensans(0.8em, #47181F, right)
    }

    .text-left {
        @include opensans(0.8em, #47181F, left)
    }

    .text {
        @include opensans(0.8em, #47181F, center)
    }

    // FOOTER

    .footer-text {
        font-size: 0.7em;
        text-align: left;
        line-height: 2.5;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-height: 812px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* FORM SECTION */
    
    #form {
        margin-left: 29%;
    }
    
    label {
        right: 17.7em;
    }
    
    #mensaje-label {
        right: 39em;
    }

}

/* ----------- iPhone 6/7/8 ----------- */

/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    .offset-1 {
        margin-left: 6.33333%;
    }
    /* NAV BAR */
    #nav-list {
        margin-left: 5%;
        flex: 0 0 75%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 19%;
    }
    
    label {
        right: 14.2em;
        top: -0.4em;
    }
    
    #mensaje-label {
        right: -.7em;
        top: -88%;
    }

    #mensaje-area {
        flex: 0 0 76.5%;
    }

    /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
    input:focus + label {
        @include label-animation(-17%)
    }
    
    textarea:focus + label {
        @include label-animation(-103%)
    }
    /* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */


    /* APLICACIONES SECTION */
    
    #aplicaciones-section {
        height: 37em;
    }

    #workshops-container {
        margin-left: 6.5%;
        flex: 0 0 25%;
    }

    #conferencias-container {
        flex: 0 0 25%;
    }

    #sketching-container {
        flex: 0 0 25%;
    }

    /* WHO TRUST US */

    #clients-section {
        height: 21em;
    }
    .wide-item {
        min-width: 8em;
    }
    
    /* TECNICAS Y FORMATOS */
    #first-line {
        transform: translate(0, -50%);
    }

    #tecnicas-section {
        height: 132em;
    }

    #tecnicas-grid {
        max-height: 132em;
    }

    #second-img {
        transform: translateY(-58%);
    }

    #second-p {
        transform: translate(0%, -32%);
    }

    #second-line {
        transform: translate(0px, -145%);
    }
    
    #third-line {
        transform: translate(0, -290%);
    }
    
    #third-img {
        transform: translate(0, -38%);
    }

    #third-p {
        transform: translate(170%, -380%);
    }

    #fourth-img {
        transform: translate(0%, -142%);
    }

    #fourth-p {
        transform: translate(-165%, -100%);
    }

    #fourth-line {
        transform: translate(0, -430%);
    }

    #fifth-img {
        transform: translate(0, -91%);
    }

    #fifth-p {
        transform: translate(0%, -110%);
    }

    #fifth-line {
        transform: translate(0, -235%);
    }

    #sixth-img{
        transform: translate(0, -103%);
    }

    #sixth-p {
        transform: translate(-88%, -150%);
    }

    // =============== TEXT STYLING

    .text-right {
        @include opensans(0.8em, #47181F, right)
    }

    .text-left {
        @include opensans(0.8em, #47181F, left)
    }

    .text {
        @include opensans(0.8em, #47181F, center)
    }
}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    
    /* NAV BAR */
    #nav-list {
        margin-left: 6.8%;
        flex: 0 0 75%;
    }

    #li-aplicaciones {
        margin-left: 1%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 22%;
    }
    
    label {
        right: 17.7em;
    }
    
    #mensaje-label {
        right: 39em;
    }

    /* APLICACIONES SECTION */

    #aplicaciones-section {
        height: 42em;
    }

    /* WHO TRUST US */

    svg[id$="-logo"] {
        margin-left: 6%;
    }

    /* TECNICAS Y FORMATOS */
    #first-line {
        transform: translate(0, -50%);
    }

    #tecnicas-section {
        height: 155em;
    }

    #tecnicas-grid {
        max-height: 132em;
    }

    #second-img {
        transform: translateY(-45%);
    }

    #second-p {
        transform: translate(0%, -32%);
    }

    #second-line {
        transform: translate(0px, -100%);
    }
    
    #third-line {
        transform: translate(0, -185%);
    }
    
    #third-img {
        transform: translate(0, -28%);
    }

    #third-p {
        transform: translate(170%, -270%);
    }

    #fourth-img {
        transform: translate(0%, -126%);
    }

    #fourth-p {
        transform: translate(-165%, -40%);
    }

    #fourth-line {
        transform: translate(0, -360%);
    }

    #fifth-img {
        transform: translate(0, -70%);
    }

    #fifth-p {
        transform: translate(0%, -110%);
    }

    #fifth-line {
        transform: translate(0, -165%);
    }

    #sixth-img{
        transform: translate(0, -80%);
    }

    #sixth-p {
        transform: translate(-88%, -50%);
    }
}