// =============== VARIABLES

$columns: 12;
$red: #AF0022;


// =============== MIXINS

@mixin oswald ($size, $color) {
    font-family: Oswald-Medium;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 2%;
    font-size: $size;
    color: $color;
}

@mixin opensans ($size, $color, $align) {
    font-family: OpenSans;
    font-size: $size;
    color: $color;
    letter-spacing: 0;
    text-align: $align;
}

@mixin label-animation ($top) {
    top: $top !important;
    font-size: .9em;
    color:#fff;
}

@mixin logo-adj ($left, $top, $height, $width) {
    margin-left: $left !important;
    margin-top: $top !important;
    max-height: $height !important;
    min-width: $width !important;
}

// =============== GENERAL STYLES
* {
    box-sizing: border-box;
}

/* ↓↓↓↓↓↓↓↓↓↓ This has only layout purposes ↓↓↓↓↓↓↓↓↓↓ */
div[class^="col-"] {
    background: lightcoral;
    border: 1px solid red;
    text-align: center;
    padding: 1rem 0;
}
/* ↑↑↑↑↑↑↑↑↑↑ This has only layout purposes ↑↑↑↑↑↑↑↑↑↑ */

// =============== LAYOUT STYLES
@for $i from 1 through $columns{
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
    }
    .offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}

body {
    background: white;
    font-family: sans-serif;
    margin: 0;
}

.container {
    background: #f3f3f3;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

// =============== ELEMENTS STYLES

// =============== NAV BAR

.nav-bar{
    position: fixed;
    z-index: 999999;
    background: #ffffff;
}

.min-h{
    min-height: 5em;
}

.nav-btn {
    @include oswald(14px, $red);
    text-decoration: none;
}

.nav-item {
    align-self: center;
}

// =============== Hero Banner

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/hero-banner-bg.jpg");
    height: 30rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
}

.hero-text {
    @include oswald(.8em, #FFFFFF);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 70%;
    left: 50%;
}

// =============== FORM SECTION

.red-bg {
    background: $red !important;
    border: none !important;
}

.header {
    @include oswald(2.3em, #FFFFFF);
}

.header-title {
    padding-top: 3% !important;
}

#form-section{
    height: 29em;
}

#form {
    margin-left: 26%;
}

.short-input {
    margin: 0 2% 3% 0;
}

.tall-input {
    height: 80%;
    margin: 2% 0;
}

label {
    @include oswald(.9em, #CCCCCC);
    pointer-events: none;
    transition: 0.2s ease all;
    position: relative;
    right: 18.4em;
    top: -0.7em;
}

#mensaje-label {
    right: 39.8em;
    top: 0.7em;
}

.cta {
    background: none;
    cursor: pointer;
    margin-left: 55%;
}

/* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
input:focus + label {
    @include label-animation(-22%)
}

textarea:focus + label {
    @include label-animation(-15%)
}

input:valid + label {
    color: rgba($color: #000000, $alpha: 0);
}

textarea:valid + label {
    color: rgba($color: #000000, $alpha: 0);
}

input, textarea {
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 3px;
}

input:focus, textarea:focus {
    outline: none;
}
/* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */


// =============== APLICACIONES SECTION

.white-bg {
    background: white !important;
    border: none !important;
}

#aplicaciones-section {
    height: 40em;
}

.center-p {
    width: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    margin-top: 2.5em;
}

// =============== WHO TRUST US

#clients-section {
    height: 24em;
}

.wide-item {
    min-width: 10em;
    margin-top: 2.5em;
}

.tall-item {
    max-height: 45px;
    margin-top: 2.5em;
}

#yoplait-logo {
    @include logo-adj(7.5%, 1.8em, auto, auto);
}

#metro-logo {
    max-height: 1.6em;
}

#chowbotics-logo {
    margin-top: 2.7em;
}

#canal22-logo {
    margin-top: 1.7em;
    max-height: 55px;
}

#olson-logo {
    max-height: 1.7em;
}

#thermion-logo {
    margin-top: 3m;
}

#movistar-logo {
    margin-top: 3em;
}

#unilever-logo {
    margin-left: 5%;
    max-height: 55px;
}

// =============== TECNICAS Y FORMATOS

#first-line {
    flex: 0 0 48%;
}

#second-img {
    transform: translateY(-7%);
}

#second-line {
    flex: 0 0 38%;
    margin-left: 3.5%;
}

#third-p {
    transform: translate(170%, -250%);
}

#fourth-p {
    transform: translate(-165%, 140%);
}

#fourth-img {
    transform: translate(0%, -15%);
}

#fourth-line {
    transform: translate(0, -15%);
}

#fifth-line {
    flex: 0 0 15%;
}

#fifth-p {
    margin-top: 10%;
}

#sixth-img{
    transform: translate(0, -20%);
}

#sixth-p {
    transform: translate(-88%, 200%);
}

// =============== FOOTER

#footer-section {
    height: 30em;
    padding-top: 2em;
}

.align-left {
    text-align: left !important;
}

.a-margin {
    margin-left: 13%;
}

.social-logo {
    max-width: 30px;
    transform: translateY(10px);
}

// =============== TEXT STYLING

.red-header {
    @include oswald(2.3em, $red);
}

.red-subtitle {
    @include oswald(1.5em, $red);
}

.white-subtitle {
    @include oswald(1.5em, #FFFFFF);
}

.text-padding {
    padding: 0 40px;
}

.text-right {
    @include opensans(1.1em, #47181F, right)
}

.text-left {
    @include opensans(1.1em, #47181F, left)
}

.text {
    @include opensans(1.1em, #47181F, center)
}

.small-text {
    @include opensans(.8em, #47181F, center)
}

.footer-text {
    @include opensans(.8em, white, center);
    line-height: 3.5;
    text-decoration: none;
}

// =============== MEDIA QUERYS

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    /* NAV BAR */
    #nav-list {
        margin-left: -2%;
        flex: 0 0 83.33333%;
    }
    
    /* FORM SECTION */
    #form {
        margin-left: 22%;
    }
    
    label {
        right: 18em;
    }
    
    #mensaje-label {
        right: 39.3em;
    }

    /* APLICACIONES SECTION */
    
    #aplicaciones-section {
        height: 37em;
    }

    #workshops-container {
        margin-left: 9.5%;
    }

    .wide-item {
        min-width: 8em;
    }
    /* TECNICAS Y FORMATOS */

    #tecnicas-section {
        height: 160em;
    }

    #second-img {
        transform: translateY(-20%);
    }

    #second-line {
        transform: translate(0px, -35%);
    }
    
    #third-line {
        transform: translate(0, -35%);
    }

    #third-p {
        transform: translate(170%, -320%);
    }

    #fourth-img {
        transform: translate(0%, -25%);
    }

    #fourth-p {
        transform: translate(-165%, 120%);
    }

    #fourth-line {
        transform: translate(0, -65%);
    }

    #fifth-img {
        transform: translate(0, -15%);
    }

    #fifth-line {
        transform: translate(0, -45%);
    }

    #sixth-img{
        transform: translate(0, -32%);
    }

    #sixth-p {
        transform: translate(-88%, 150%);
    }

    // =============== TEXT STYLING

    .text-right {
        @include opensans(0.8em, #47181F, right)
    }

    .text-left {
        @include opensans(0.8em, #47181F, left)
    }

    .text {
        @include opensans(0.8em, #47181F, center)
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

