// =============== VARIABLES

$columns: 12;

// =============== GENERAL STYLES
* {
    box-sizing: border-box;
}

/* ↓↓↓↓↓↓↓↓↓↓ This has only layout purposes ↓↓↓↓↓↓↓↓↓↓ */
div[class^="col-"] {
    background: lightcoral;
    border: 1px solid red;
    text-align: center;
    padding: 1rem 0;
}
/* ↑↑↑↑↑↑↑↑↑↑ This has only layout purposes ↑↑↑↑↑↑↑↑↑↑ */

// =============== LAYOUT STYLES
@for $i from 1 through $columns{
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
    }
    .offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}

body {
    background: white;
    font-family: sans-serif;
    margin: 0;
}

.container {
    background: #f3f3f3;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

// =============== ELEMENTS STYLES

.nav-bar{
    position: fixed;
    z-index: 999999;
    background: #ffffff;
}

.nav-btn {
    font-family: Oswald-Medium;
    font-size: 14px;
    color: #AF0022;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item {
    align-self: center;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/hero-banner-bg.jpg");
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Oswald-Medium;
    font-size: .8em;
    color: #FFFFFF;
    text-transform: uppercase;
}

