@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ↓↓↓↓↓↓↓↓↓↓ This has only layout purposes ↓↓↓↓↓↓↓↓↓↓ */
div[class^="col-"] {
  background: lightcoral;
  border: 1px solid red;
  text-align: center;
  padding: 1rem 0;
}

/* ↑↑↑↑↑↑↑↑↑↑ This has only layout purposes ↑↑↑↑↑↑↑↑↑↑ */
.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.offset-12 {
  margin-left: 100%;
}

body {
  background: white;
  font-family: sans-serif;
  margin: 0;
}

.container {
  background: #f3f3f3;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-bar {
  position: fixed;
  z-index: 999999;
  background: #ffffff;
}

.min-h {
  min-height: 5em;
}

.nav-btn {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 14px;
  color: #AF0022;
  text-decoration: none;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.nav-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.two:hover ~ hr {
  width: 10.5%;
  margin-left: 26.5%;
}

.three:hover ~ hr {
  width: 15%;
  margin-left: 52%;
}

.four:hover ~ hr {
  width: 5%;
  margin-left: 84%;
}

hr {
  height: .2rem;
  width: 3%;
  margin-left: 8.6%;
  background: #AF0022;
  border: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/assets/hero-banner-bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/hero-banner-bg.jpg");
  height: 30rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  position: relative;
}

.hero-text {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 0.8em;
  color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 50%;
}

.red-bg {
  background: #AF0022 !important;
  border: none !important;
}

.header {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 2.3em;
  color: #FFFFFF;
}

.header-title {
  padding-top: 3% !important;
}

#form-section {
  height: 29em;
}

#form {
  margin-left: 26%;
}

.short-input {
  margin: 0 2% 3% 0;
}

.tall-input {
  height: 80%;
  margin: 2% 0;
}

label {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 0.9em;
  color: #CCCCCC;
  pointer-events: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  position: relative;
  right: 18.4em;
  top: -0.7em;
}

#mensaje-label {
  right: 39.8em;
  top: 0.7em;
}

.cta {
  background: none;
  cursor: pointer;
  margin-left: 55%;
}

/* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
input:focus + label {
  top: -22% !important;
  font-size: .9em;
  color: #fff;
}

textarea:focus + label {
  top: -15% !important;
  font-size: .9em;
  color: #fff;
}

input:valid + label {
  color: rgba(0, 0, 0, 0);
}

textarea:valid + label {
  color: rgba(0, 0, 0, 0);
}

input, textarea {
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 3px;
}

input:focus, textarea:focus {
  outline: none;
}

/* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */
.white-bg {
  background: white !important;
  border: none !important;
}

#aplicaciones-section {
  height: 40em;
}

.center-p {
  width: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  position: relative;
  margin-top: 2.5em;
}

#clients-section {
  height: 24em;
}

.wide-item {
  min-width: 10em;
  margin-top: 2.5em;
}

.tall-item {
  max-height: 45px;
  margin-top: 2.5em;
}

#yoplait-logo {
  margin-left: 7.5% !important;
  margin-top: 1.8em !important;
  max-height: auto !important;
  min-width: auto !important;
}

#metro-logo {
  max-height: 1.6em;
}

#chowbotics-logo {
  margin-top: 2.7em;
}

#canal22-logo {
  margin-top: 1.7em;
  max-height: 55px;
}

#olson-logo {
  max-height: 1.7em;
}

#thermion-logo {
  margin-top: 3m;
}

#movistar-logo {
  margin-top: 3em;
}

#unilever-logo {
  margin-left: 5%;
  max-height: 55px;
}

#first-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

#second-img {
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
}

#second-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  margin-left: 3.5%;
}

#third-p {
  -webkit-transform: translate(170%, -250%);
          transform: translate(170%, -250%);
}

#fourth-p {
  -webkit-transform: translate(-165%, 140%);
          transform: translate(-165%, 140%);
}

#fourth-img {
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
}

#fourth-line {
  -webkit-transform: translate(0, -15%);
          transform: translate(0, -15%);
}

#fifth-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

#fifth-p {
  margin-top: 10%;
}

#sixth-img {
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

#sixth-p {
  -webkit-transform: translate(-88%, 200%);
          transform: translate(-88%, 200%);
}

#footer-section {
  height: 30em;
  padding-top: 2em;
}

.align-left {
  text-align: left !important;
}

.a-margin {
  margin-left: 13%;
}

.social-logo {
  max-width: 30px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.red-header {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 2.3em;
  color: #AF0022;
}

.red-subtitle {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 1.2em;
  color: #AF0022;
}

.white-subtitle {
  font-family: Oswald-Medium;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 2%;
  font-size: 1.5em;
  color: #FFFFFF;
}

.text-padding {
  padding: 0 40px;
}

.text-right {
  font-family: OpenSans;
  font-size: 1.1em;
  color: #47181F;
  letter-spacing: 0;
  text-align: right;
}

.text-left {
  font-family: OpenSans;
  font-size: 1.1em;
  color: #47181F;
  letter-spacing: 0;
  text-align: left;
}

.text {
  font-family: OpenSans;
  font-size: 1.1em;
  color: #47181F;
  letter-spacing: 0;
  text-align: center;
}

.small-text {
  font-family: OpenSans;
  font-size: 0.8em;
  color: #47181F;
  letter-spacing: 0;
  text-align: center;
}

.footer-text {
  font-family: OpenSans;
  font-size: 0.8em;
  color: white;
  letter-spacing: 0;
  text-align: center;
  line-height: 3.5;
  text-decoration: none;
}

@media (max-width: 991px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 999999;
    -webkit-transform: translate(-100%, 115%);
            transform: translate(-100%, 115%);
  }
  .nav-bar {
    position: absolute !important;
    width: 100%;
    height: 100vh;
    background: #AF0022;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav.active {
    left: 0;
  }
  #nav-list {
    display: block;
    text-align: center;
  }
  .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-size: 1.7em !important;
  }
  svg[id$="-img"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0;
  }
  svg[id$="-line"] {
    display: none;
  }
  p[id$="-text"] {
    margin: 0;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* NAV BAR */
  #nav-list {
    margin-left: -2%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 22%;
  }
  label {
    right: 18em;
  }
  #mensaje-label {
    right: 39.3em;
  }
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 37em;
  }
  #workshops-container {
    margin-left: 9.5%;
  }
  .wide-item {
    min-width: 8em;
  }
  /* TECNICAS Y FORMATOS */
  #tecnicas-section {
    height: 160em;
  }
  #second-img {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  #second-line {
    -webkit-transform: translate(0px, -35%);
            transform: translate(0px, -35%);
  }
  #third-line {
    -webkit-transform: translate(0, -35%);
            transform: translate(0, -35%);
  }
  #third-p {
    -webkit-transform: translate(170%, -320%);
            transform: translate(170%, -320%);
  }
  #fourth-img {
    -webkit-transform: translate(0%, -25%);
            transform: translate(0%, -25%);
  }
  #fourth-p {
    -webkit-transform: translate(-165%, 120%);
            transform: translate(-165%, 120%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -65%);
            transform: translate(0, -65%);
  }
  #fifth-img {
    -webkit-transform: translate(0, -15%);
            transform: translate(0, -15%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -45%);
            transform: translate(0, -45%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -32%);
            transform: translate(0, -32%);
  }
  #sixth-p {
    -webkit-transform: translate(-88%, 150%);
            transform: translate(-88%, 150%);
  }
  .text-right {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: right;
  }
  .text-left {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: left;
  }
  .text {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: center;
  }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* FORM SECTION */
  #form {
    margin-left: 29%;
  }
  label {
    right: 17.7em;
  }
  #mensaje-label {
    right: 39em;
  }
}

/* ----------- iPad ----------- */
/* Portrait */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .offset-1 {
    margin-left: 6.33333%;
  }
  /* NAV BAR */
  #nav-list {
    margin-left: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 19%;
  }
  label {
    right: 14.2em;
    top: -0.4em;
  }
  #mensaje-label {
    right: -.7em;
    top: -88%;
  }
  #mensaje-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 76.5%;
            flex: 0 0 76.5%;
  }
  /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
  input:focus + label {
    top: -17% !important;
    font-size: .9em;
    color: #fff;
  }
  textarea:focus + label {
    top: -103% !important;
    font-size: .9em;
    color: #fff;
  }
  /* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 37em;
  }
  #workshops-container {
    margin-left: 6.5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  #conferencias-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  #sketching-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  /* WHO TRUST US */
  #clients-section {
    height: 21em;
  }
  .wide-item {
    min-width: 8em;
  }
  /* TECNICAS Y FORMATOS */
  #first-line {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #tecnicas-section {
    height: 132em;
  }
  #tecnicas-grid {
    max-height: 132em;
  }
  #second-img {
    -webkit-transform: translateY(-58%);
            transform: translateY(-58%);
  }
  #second-p {
    -webkit-transform: translate(0%, -32%);
            transform: translate(0%, -32%);
  }
  #second-line {
    -webkit-transform: translate(0px, -145%);
            transform: translate(0px, -145%);
  }
  #third-line {
    -webkit-transform: translate(0, -290%);
            transform: translate(0, -290%);
  }
  #third-img {
    -webkit-transform: translate(0, -38%);
            transform: translate(0, -38%);
  }
  #third-p {
    -webkit-transform: translate(170%, -380%);
            transform: translate(170%, -380%);
  }
  #fourth-img {
    -webkit-transform: translate(0%, -142%);
            transform: translate(0%, -142%);
  }
  #fourth-p {
    -webkit-transform: translate(-165%, -100%);
            transform: translate(-165%, -100%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -430%);
            transform: translate(0, -430%);
  }
  #fifth-img {
    -webkit-transform: translate(0, -91%);
            transform: translate(0, -91%);
  }
  #fifth-p {
    -webkit-transform: translate(0%, -110%);
            transform: translate(0%, -110%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -235%);
            transform: translate(0, -235%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -103%);
            transform: translate(0, -103%);
  }
  #sixth-p {
    -webkit-transform: translate(-88%, -150%);
            transform: translate(-88%, -150%);
  }
  .text-right {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: right;
  }
  .text-left {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: left;
  }
  .text {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: center;
  }
}

/* Landscape */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* NAV BAR */
  #nav-list {
    margin-left: 6.8%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  #li-aplicaciones {
    margin-left: 1%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 22%;
  }
  label {
    right: 17.7em;
  }
  #mensaje-label {
    right: 39em;
  }
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 42em;
  }
  /* WHO TRUST US */
  svg[id$="-logo"] {
    margin-left: 6%;
  }
  /* TECNICAS Y FORMATOS */
  #first-line {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #tecnicas-section {
    height: 155em;
  }
  #tecnicas-grid {
    max-height: 132em;
  }
  #second-img {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  #second-p {
    -webkit-transform: translate(0%, -32%);
            transform: translate(0%, -32%);
  }
  #second-line {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }
  #third-line {
    -webkit-transform: translate(0, -185%);
            transform: translate(0, -185%);
  }
  #third-img {
    -webkit-transform: translate(0, -28%);
            transform: translate(0, -28%);
  }
  #third-p {
    -webkit-transform: translate(100%, -270%);
            transform: translate(100%, -270%);
  }
  #fourth-img {
    -webkit-transform: translate(0%, -126%);
            transform: translate(0%, -126%);
  }
  #fourth-p {
    -webkit-transform: translate(100%, -320%);
            transform: translate(100%, -320%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -360%);
            transform: translate(0, -360%);
  }
  #fifth-img {
    -webkit-transform: translate(0, -70%);
            transform: translate(0, -70%);
  }
  #fifth-p {
    -webkit-transform: translate(0%, -110%);
            transform: translate(0%, -110%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -165%);
            transform: translate(0, -165%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }
  #sixth-p {
    -webkit-transform: translate(-88%, -50%);
            transform: translate(-88%, -50%);
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* NAV BAR */
  #nav-list {
    margin-left: -2%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 22%;
  }
  label {
    right: 15em;
    top: 0;
  }
  #mensaje-label {
    right: 39.3em;
  }
  #mensaje-label {
    right: -0.5em;
    top: -12.5em;
  }
  .hero-image {
    height: 70vh;
  }
  .hero-text {
    padding: 0;
  }
  .header-title {
    padding-top: 7% !important;
  }
  .short-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    margin: 0 2% 5% 0;
  }
  .cta {
    margin-left: 25%;
  }
  .red-header {
    width: 55%;
    margin-left: 23%;
  }
  .center-p {
    width: 60%;
    margin-top: 3.5em;
  }
  /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
  input:focus + label {
    top: -22% !important;
    font-size: .9em;
    color: #fff;
  }
  textarea:focus + label {
    top: -15% !important;
    font-size: .9em;
    color: #fff;
  }
  input:valid + label {
    color: rgba(0, 0, 0, 0);
  }
  textarea:valid + label {
    color: rgba(0, 0, 0, 0);
  }
  input, textarea {
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 3px;
  }
  input:focus, textarea:focus {
    outline: none;
  }
  /* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
:valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 82em;
  }
  .wide-item {
    min-width: 8em;
  }
  #workshops-container, #conferencias-container, #sketching-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    margin-left: 9%;
  }
  /* WHO TRUST US */
  #clients-section {
    height: 35em;
  }
  svg[id$="-logo"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.33333%;
            flex: 0 0 37.33333%;
  }
  /* TECNICAS Y FORMATOS */
  .text-right {
    text-align: center;
    margin: 0;
    min-width: 75%;
    -webkit-transform: translate(20%, 400%);
            transform: translate(20%, 400%);
  }
  .text-left {
    text-align: center;
    margin: 0;
    min-width: 75%;
    -webkit-transform: translate(15%, 25%) !important;
            transform: translate(15%, 25%) !important;
  }
  #tecnicas-section {
    height: 160em;
  }
  #second-img {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  #second-line {
    -webkit-transform: translate(0px, -35%);
            transform: translate(0px, -35%);
  }
  #third-img {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  #third-line {
    -webkit-transform: translate(0, -35%);
            transform: translate(0, -35%);
  }
  #third-p {
    -webkit-transform: translate(15%, 175%) !important;
            transform: translate(15%, 175%) !important;
  }
  #fourth-img {
    -webkit-transform: translate(0%, 25%);
            transform: translate(0%, 25%);
  }
  #fourth-p {
    -webkit-transform: translate(20%, 440%);
            transform: translate(20%, 440%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -65%);
            transform: translate(0, -65%);
  }
  #fifth-p {
    -webkit-transform: translate(15%, -50%) !important;
            transform: translate(15%, -50%) !important;
  }
  #fifth-img {
    -webkit-transform: translate(0, 15%);
            transform: translate(0, 15%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -45%);
            transform: translate(0, -45%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -32%);
            transform: translate(0, -32%);
  }
  #sixth-p {
    -webkit-transform: translate(20%, 550%);
            transform: translate(20%, 550%);
  }
  .text-right {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: right;
  }
  .text-left {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: left;
  }
  .text {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: center;
  }
  .footer-text {
    font-size: 0.7em;
    text-align: left;
    line-height: 2.5;
  }
}

/* Landscape */
@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* FORM SECTION */
  #form {
    margin-left: 29%;
  }
  label {
    right: 17.7em;
  }
  #mensaje-label {
    right: 39em;
  }
}

/* ----------- iPhone 6/7/8 ----------- */
/* Portrait */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .offset-1 {
    margin-left: 6.33333%;
  }
  /* NAV BAR */
  #nav-list {
    margin-left: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 19%;
  }
  label {
    right: 14.2em;
    top: -0.4em;
  }
  #mensaje-label {
    right: -.7em;
    top: -88%;
  }
  #mensaje-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 76.5%;
            flex: 0 0 76.5%;
  }
  /* ↓↓↓↓↓↓↓↓↓↓ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↓↓↓↓↓↓↓↓↓↓ */
  input:focus + label {
    top: -17% !important;
    font-size: .9em;
    color: #fff;
  }
  textarea:focus + label {
    top: -103% !important;
    font-size: .9em;
    color: #fff;
  }
  /* ↑↑↑↑↑↑↑↑↑↑ :focus = triggered by click on input 
    :valid = prevents reverse of animation when text is already written ↑↑↑↑↑↑↑↑↑↑ */
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 37em;
  }
  #workshops-container {
    margin-left: 6.5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  #conferencias-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  #sketching-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  /* WHO TRUST US */
  #clients-section {
    height: 21em;
  }
  .wide-item {
    min-width: 8em;
  }
  /* TECNICAS Y FORMATOS */
  #first-line {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #tecnicas-section {
    height: 132em;
  }
  #tecnicas-grid {
    max-height: 132em;
  }
  #second-img {
    -webkit-transform: translateY(-58%);
            transform: translateY(-58%);
  }
  #second-p {
    -webkit-transform: translate(0%, -32%);
            transform: translate(0%, -32%);
  }
  #second-line {
    -webkit-transform: translate(0px, -145%);
            transform: translate(0px, -145%);
  }
  #third-line {
    -webkit-transform: translate(0, -290%);
            transform: translate(0, -290%);
  }
  #third-img {
    -webkit-transform: translate(0, -38%);
            transform: translate(0, -38%);
  }
  #third-p {
    -webkit-transform: translate(170%, -380%);
            transform: translate(170%, -380%);
  }
  #fourth-img {
    -webkit-transform: translate(0%, -142%);
            transform: translate(0%, -142%);
  }
  #fourth-p {
    -webkit-transform: translate(-165%, -100%);
            transform: translate(-165%, -100%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -430%);
            transform: translate(0, -430%);
  }
  #fifth-img {
    -webkit-transform: translate(0, -91%);
            transform: translate(0, -91%);
  }
  #fifth-p {
    -webkit-transform: translate(0%, -110%);
            transform: translate(0%, -110%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -235%);
            transform: translate(0, -235%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -103%);
            transform: translate(0, -103%);
  }
  #sixth-p {
    -webkit-transform: translate(-88%, -150%);
            transform: translate(-88%, -150%);
  }
  .text-right {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: right;
  }
  .text-left {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: left;
  }
  .text {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #47181F;
    letter-spacing: 0;
    text-align: center;
  }
}

/* Landscape */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* NAV BAR */
  #nav-list {
    margin-left: 6.8%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  #li-aplicaciones {
    margin-left: 1%;
  }
  /* FORM SECTION */
  #form {
    margin-left: 22%;
  }
  label {
    right: 17.7em;
  }
  #mensaje-label {
    right: 39em;
  }
  /* APLICACIONES SECTION */
  #aplicaciones-section {
    height: 42em;
  }
  /* WHO TRUST US */
  svg[id$="-logo"] {
    margin-left: 6%;
  }
  /* TECNICAS Y FORMATOS */
  #first-line {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #tecnicas-section {
    height: 155em;
  }
  #tecnicas-grid {
    max-height: 132em;
  }
  #second-img {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  #second-p {
    -webkit-transform: translate(0%, -32%);
            transform: translate(0%, -32%);
  }
  #second-line {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }
  #third-line {
    -webkit-transform: translate(0, -185%);
            transform: translate(0, -185%);
  }
  #third-img {
    -webkit-transform: translate(0, -28%);
            transform: translate(0, -28%);
  }
  #third-p {
    -webkit-transform: translate(170%, -270%);
            transform: translate(170%, -270%);
  }
  #fourth-img {
    -webkit-transform: translate(0%, -126%);
            transform: translate(0%, -126%);
  }
  #fourth-p {
    -webkit-transform: translate(-165%, -40%);
            transform: translate(-165%, -40%);
  }
  #fourth-line {
    -webkit-transform: translate(0, -360%);
            transform: translate(0, -360%);
  }
  #fifth-img {
    -webkit-transform: translate(0, -70%);
            transform: translate(0, -70%);
  }
  #fifth-p {
    -webkit-transform: translate(0%, -110%);
            transform: translate(0%, -110%);
  }
  #fifth-line {
    -webkit-transform: translate(0, -165%);
            transform: translate(0, -165%);
  }
  #sixth-img {
    -webkit-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }
  #sixth-p {
    -webkit-transform: translate(-88%, -50%);
            transform: translate(-88%, -50%);
  }
}
/*# sourceMappingURL=styles.css.map */